<h4>Edit Player</h4>

<label>New Player Name:</label>
<input [(ngModel)]="selectedPlayer.name">
<br>

<label>New Player Position:</label>
<input [(ngModel)]="selectedPlayer.position">
<br>

<label>New Player Starting:</label>
<input [(ngModel)]="selectedPlayer.starting">

<label>New Player Number:</label>
<input [(ngModel)]="selectedPlayer.number">
<br>

<label>New Player Salary:</label>
<input [(ngModel)]="selectedPlayer.salary">
<br>

<label>New Player Goals:</label>
<input [(ngModel)]="selectedPlayer.goals">

<label>New Player Age:</label>
<input [(ngModel)]="selectedPlayer.age">
<br>

<label>New Player Height:</label>
<input [(ngModel)]="selectedPlayer.height">
<br>

<label>New Player Weight:</label>
<input [(ngModel)]="selectedPlayer.weight">

<label>New Player From:</label>
<input [(ngModel)]="selectedPlayer.from">
<br>

<label>New Player About:</label>
<input [(ngModel)]="selectedPlayer.about">
<br>

<label>New Player Twitter:</label>
<input [(ngModel)]="selectedPlayer.twitter">
